@import "./reset.css";
body{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 14px;
}

.conteiner{
max-width: 1230px;
padding: 0 30px ;
margin: 0 auto;
}
/*Header */

.header{
    background-color:  #F1F1F1;
    padding-top: 46px;
}

.header-nav{
display: flex;
justify-content: space-between;
align-items: flex-end;

margin-bottom: 76px;
}
.logo{
    position: relative;
    font-weight: 700;
    font-size: 32px;
    color: black;
    padding: 0 12px 3px 0;
    line-height: 1;
}
.logo::after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: rgb(241, 10, 10);
    border-radius: 50%;
}

.nav-list{
display: flex;
column-gap:50px ;
font-weight: 500;
font-size: 14px;
}
.nav-link{
    color: black;

}
.nav-link.activ {
    color: #606060;

}
.header-row{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

}
.header-content{
    max-width: 500xp;
    margin-top: 124px;
}
.header-content p{
    font-size: 14px;
    line-height: 2;

}
.header-img{

}
.header-heding{
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 20px;
}


.services{
    padding: 90px 0;

}

.services-row {
display: flex;
column-gap: 30px;
}
.services-card{

}

.services-card-img{
    margin-bottom: 30px;

}

.service-card-title{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform:uppercase ;

}

.services-card p{
    line-height: 2;
}



.portfolio{
    background-color: #F1F1F1;
    padding: 90px 0;
   


}

.portfolio-title{
    margin-bottom: 70px;
    text-align: center;

}

.title-1{
font-size: 34px;
font-weight: 600;
}

.projekt-img{
    margin-bottom: 40px;

}

.projekt{
    text-align: center;

}
.projekt + .projekt{
    margin-top: 90px;
    text-align: center;

}

.project-title{
    font-size: 18px;
    text-align: center;

}

.project-title a{
    color: black;
    text-decoration: underline;
}